/*---:[ Thesis CSS reset ]:---*/
* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, abbr, acronym, fieldset {
	border: 0;
}
code {
	line-height: 1em;
}
pre {
	overflow: auto;
	clear: both;
}
sub, sup {
	line-height: 0.5em;
}
img, .wp-caption {
	max-width: 100%;
	height: auto;
}
iframe, video, embed, object {
	display: block;
	max-width: 100%;
}
img {
	display: block;
}
.left, .alignleft, img[align="left"] {
	display: block;
	float: left;
}
.right, .alignright, img[align="right"] {
	display: block;
	float: right;
}
.center, .aligncenter, img[align="middle"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	float: none;
	clear: both;
}
.block, .alignnone {
	display: block;
	clear: both;
}
.wp-smiley {
	display: inline;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
body{background: url('http://xboxrebel.com/css/images/background.jpg') 50% 0% repeat-x white;overflow-x: hidden;height:100%;position: relative;font-family: 'Source Sans Pro', sans-serif;text-decoration:none;}
.container{position:relative;width:960px;margin:0px auto;padding-bottom:140px;overflow:auto;}
#header{width:100%;margin:0px auto;height:70px;background:#74bb2f;padding:30px 0px 0px 0px;-moz-box-shadow: 0 1px 2px #888;-webkit-box-shadow: 0 1px 2px #888;box-shadow: 0 1px 2px #888;}
#wrapper{padding:60px 20px 20px 20px;}
.ach{position:relative;top:-535px;left:30px;width:385px;}
.tos{position:relative;margin-top:40px;}
.tos h1{font-size:21px;font-weight:600;}
.tos h2{font-size:18px;font-weight:600;}
.privacy{position:relative;margin-top:40px;}
.privacy h1{font-size:21px;font-weight:600;}
.privacy h2{font-size:18px;font-weight:600;}
.logo{float:left;width:114px;height:38px;}
.featured{position:relative;background:url('../images/featured-img.png') no-repeat;width:100%;height:573px;}
.featured-video{margin-left:auto;margin-right:auto;padding:30px 0 0 0;}
.retrieved-card-2{background:url('../images/card-3.png') no-repeat;position:relative;width:430px;height:660px;margin-left:auto;margin-right:auto;top:40px;font-family:'Source Sans Pro', sans-serif;float:right;}
.retrieved-card-1{background:url('../images/card-1.png') no-repeat;position:relative;width:430px;height:660px;top:40px;float:right;}
.retrieved-card-1 h1{font-family:'Source Sans Pro', sans-serif;font-weight:600;position:relative;left:-500px;font-size: 30px;color:#107C10;}
.retrieved-card-1 h3{font-family:'Source Sans Pro', sans-serif;font-weight:500;position:relative;left:-500px;top:30px;font-size:24px;color:#000000;}
.retrieved-card-1 p{font-family:'Source Sans Pro', sans-serif;position:relative;left:-500px;top:453px;font-size:15px;color:#000000;font-weight:400italic;}
.retrieved-card-2 h1{font-family:'Source Sans Pro', sans-serif;font-weight:600;position:relative;left:-500px;font-size: 30px;color:#107C10;}
.retrieved-card-2 h3{font-family:'Source Sans Pro', sans-serif;font-weight:500;position:relative;left:-500px;top:30px;font-size:24px;color:#000000;}
.retrieved-card-2 p{font-family:'Source Sans Pro', sans-serif;position:relative;left:-500px;top:453px;font-size:15px;color:#000000;font-weight:400italic;}
.home-left{color:#74bb2f;position:relative;width:310px;height:220px;}
.home-right{position:relative;clear:both;width:280px;float:right;top:-220px;}
.home-right p{position:relative;clear:both;width:280px;margin-top:10px;}
.home-bottom{position:relative;clear:both;text-align:center;top:-60px;}
.get-started{position:relative;top:-50px;margin-left:auto;margin-right:auto;cursor:pointer;}
.features{position:relative;}
.shadow{position:relative;margin-left:auto;margin-right;auto;}
.content{position:relative;}
.code{position:relative;top:-137px;left:80px;font-family:'Source Sans Pro', sans-serif;font-weight:600;width:270px;}
.welcome h1{font-size:55px;font-family: 'Open Sans', sans-serif;font-weight:300;color:#74bb2f;clear:both;}
.welcome h2{font-size:55px;font-family: 'Open Sans', sans-serif;font-weight:300;color:#000000;clear:both;}
.welcome h3{font-size:40px;font-family: 'Open Sans', sans-serif;font-weight:300;color:#000000;clear:both;}
.welcome span{font-size:55px;font-family: 'Open Sans', sans-serif;font-weight:300;color:#c39252;clear:both;text-align:center;}
.welcome p{font-size:18px;font-family: 'Open Sans', sans-serif;font-weight:300;color:#000000;}
#nav{margin: 0px auto;width:305px;font-family:'Source Sans Pro', sans-serif;font-weight:600;}
#nav li{display: inline-block;float: left;padding: 10px 27px;}
#nav li a{color:#FFFFFF;font-family:'Source Sans Pro', sans-serif;font-weight:600;font-size:17px;text-decoration:none;}
#nav li a:hover{color:#498212;}
.avatar{position:relative;left:155px;top:-130px;}
.unlocked{position:relative;left:320px;top:-370px;}
.nav-menu{display:block;height:34px;left:100px;top:-33px;position:relative;}
a:hover, a:visited, a:link, a:active{text-decoration: none;}
.banner-2{position:relative;background:url('../images/banner-2.jpg');width:460px;height:370px;top:250px;left:-500px;top:-45px;}
.banner{position:relative;background:url('../images/banner-1.jpg');width:460px;height:370px;top:250px;left:30px;}
.generate{position:relative;left:140px;top:-400px;z-index:10;}
.claim{position:relative;left:140px;top:-400px;z-index:10;}
.footnote{position:relative;text-align:center;font-family:'Source Sans Pro', sans-serif;font-weight:600;padding-bottom:20px;}
.footnote a{color:#107C10;}
#footer{position:relative;margin-top:-140px;height:140px;clear:both;}
#footercontent{background-color: #333333;background-image: url("../images/Footer-gradient.jpg");background-repeat: repeat-x;color: #BDBEC1;font-size: 14px;min-height: 140px;min-width: 995px;text-align: center;}
.ui-progress-bar {margin-top: 3em;margin-bottom: 3em;}
.ui-progress span.ui-label {font-size: 1.2em;position: absolute;right: 0;line-height: 33px;padding-right: 12px;color: rgba(0,0,0,0.6);text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;white-space: nowrap;}@-webkit-keyframes animate-stripes {from {background-position: 0 0;}to {background-position: 44px 0;}}     
.ui-progress-bar {position: relative;height: 35px;padding-right: 2px;background-color: #abb2bc;border-radius: 35px;-moz-border-radius: 35px;-webkit-border-radius: 35px;background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;-moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;left:-473px;top:170px;width:400px;}      
.ui-progress {
  position: relative;
  display: block;
  overflow: hidden;
  height: 33px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -webkit-background-size: 44px 44px;
  background-color: #74d04c;
  background: -webkit-gradient(linear, 0 0, 44 44,
    color-stop(0.00, rgba(255,255,255,0.17)),
    color-stop(0.25, rgba(255,255,255,0.17)),
    color-stop(0.26, rgba(255,255,255,0)),
    color-stop(0.50, rgba(255,255,255,0)),
    color-stop(0.51, rgba(255,255,255,0.17)),
    color-stop(0.75, rgba(255,255,255,0.17)),
    color-stop(0.76, rgba(255,255,255,0)),
    color-stop(1.00, rgba(255,255,255,0))
  ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
  background: -moz-repeating-linear-gradient(top left -30deg,
    rgba(255,255,255,0.17),
    rgba(255,255,255,0.17) 15px,
    rgba(255,255,255,0) 15px,
    rgba(255,255,255,0) 30px
  ), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  border: 1px solid #4c8932;
  -webkit-animation: animate-stripes 2s linear infinite;
}
.typekit-badge{display:none !important;}